<div class="row" style="margin-bottom: 20px;">
<div class="small pretty primary btn">
            <a href="#/new">New</a>
</div>
</div>

<div class="row">

<table class="table table-striped">
<tr ng-repeat="company in companies">
	<td><a href="#/edit/{{company._id}}">{{company.name}}</a></td>
  <td><img style="height:32px;width:28px" src="/icons/{{company.type}}.png"/></td>
	<td>
		 <button class="small pretty warning btn">
            <a>delete</a>
      </button>
  </td>
</tr>
</table>

</div>