<div class="row">
	  <div class="small secondary btn"><a href="#/new">New</a></div>
	  <div class="small secondary btn"><a href="#/map">Map</a></div>
      <h1 class="lead">Tokyo Listing </h1>

      <div class="row">
        <div class="six columns">

<table class="table table-striped">
<tr ng-repeat="company in companies">
	<td><a href="#/edit/{{company._id}}">{{company.name}}</a></td>
	<td>
		 <button ng-click="delete(company)" class="small pretty default btn">
            <a>delete</a>
          </button>
    </td>
</tr>
</table>

</div>
</div>
</div>