<div class="row">
  <div>
    <h1 class="lead">Tokyo Startup Maps 
      <div class="small secondary btn"><a href="#/map">Map</a></div>
    </h1>

	  
	  
      <h2 class="lead">Listing
        <div class="small secondary btn"><a href="#/new">New</a></div>
      </h2>
    </div>
</div>

      <div class="row">
        <div class="six columns">

<table class="table table-striped">
<tr ng-repeat="company in companies">
	<td><a href="#/edit/{{company._id}}">{{company.name}}</a></td>
	<td>
		 <button ng-click="delete(company)" class="small pretty default btn">
            <a>delete</a>
          </button>
    </td>
</tr>
</table>

</div>
</div>
</div>