
  <div class="row">
      <ul style="list-style: none;">
        <li style="display: inline;" ng-repeat="type in types" ng-class="{active : isSelected(type)}" >
          <img ng-click="subselect(type)" src="/icons/{{type['value']}}.png"/>
        </li>
      </ul>
      Showing {{markers_count}} icons
    </div>
  </div>

  </div>
  <div class="row">

  	<div class="4 columns">
  	<div style="width: 700px; height: 500px;" id="map-canvas"></div>
  	</div>
  	
  	<div id="details" style="width: 200px" class="1 columns">

  	</div>

  </div>
