
  <div class="row">

    <div>
  	<h1 class="lead">Tokyo Startup Maps 
      <div class="small secondary btn"><a href="#/list">List</a></div> 
    </h1>
    <div>
      <ul style="list-style: none;">
        <li style="display: inline;" ng-repeat="type in types" ng-class="{active : isSelected(type)}" >
          <img ng-click="subselect(type)" src="/icons/{{type}}.png"/>
        </li>
    </ul>
    </div>
  </div>

  </div>
  <div class="row">

  	<div class="4 columns">
  	<div style="width: 700px; height: 500px;" id="map-canvas"></div>
  	</div>
  	
  	<div id="details" style="width: 200px" class="1 columns">

  	</div>

  </div>
